fastapi
uvicorn[standard]
pydantic
pandas
numpy
xarray
netCDF4
h5netcdf
scipy
python-multipart
python-dateutil
shapely
pyproj
geojson
geopandas
sqlalchemy
aiosqlite
orjson
pytest
httpx

dash==3.2.0
plotly==6.3.0
gunicorn==23.0.0